*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


  
/* GENERAL */
.red {
    color: #ef7861 !important;
}

.aqua {
    color: #6fc8bb !important;
}

.drop-shadow {
    -webkit-box-shadow: 10px 10px 15px 0px rgba(173, 173, 173, 1);
    -moz-box-shadow: 10px 10px 15px 0px rgba(173, 173, 173, 1);
    box-shadow: 10px 10px 15px 0px rgba(173, 173, 173, 1);
    padding-top: 15px;
    padding-left: 15px;
    margin: 0, 30px, 0, 30px;
}

.vc_general.vc_cta3.vc_cta3-color-blue.vc_cta3-style-flat {
    background-color: #3a41a3;
}

.pricing-table-flat .plan h3 {
    text-shadow: none !important;
}

.pricing-table h3 .desc {
    font-size: 18px;
    padding: 0 15px;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat:not(.vc_tta-o-no-fill) .vc_tta-panel-body {
    color: #3a41a3 !important;
}/* PARTNERS LOGOS*/
.partners {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.partners img {
    padding: 10px !important;
}/* accordions-background styling */
.wpb-js-composer .vc_tta.vc_tta-shape-rounded .vc_tta-panel-body, .wpb-js-composer .vc_tta.vc_tta-shape-rounded .vc_tta-panel-heading {
    border-radius: 8px !important;
}

.wpb-js-composer .vc_tta-shape-round.vc_tta-o-shape-group:not(.vc_tta-o-no-fill) .vc_tta-panel:first-child:not(:last-child) .vc_tta-panel-body, .wpb-js-composer .vc_tta-shape-round.vc_tta-o-shape-group:not(.vc_tta-o-no-fill) .vc_tta-panel:first-child:not(:last-child) {
    border-radius: 10px !important;
}

.wpb-js-composer .vc_tta.vc_tta-shape-round .vc_tta-panel-body, .wpb-js-composer .vc_tta.vc_tta-shape-round {
    border-radius: 10px !important;
}

.wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* toggles in accordions*/
.toggle > label:hover {
background: #2c317a;
}

.toggle-sm .toggle > label {
font-size: 17px;
}

.toggle-sm .toggle > label:hover
{
color:#ef7861;
}

.toggle > .toggle-content {
background: white;
border-radius:4px;
}

.toggle > .toggle-content > p {
margin-bottom: 0;
padding: 20px;
}

.toggle-sm .toggle > .toggle-content > ol, .toggle-sm .toggle > .toggle-content > ul {
font-size: 0.9em;
}

html .toggle-primary .toggle.active > label {
color:#2c317a;
font-weight:600;
}

   @media (min-width: 1350px) {
    body.boxed .vc_row[data-vc-stretch-content], body.boxed #header.sticky-header .header-main.sticky, body.boxed #header.sticky-header .main-menu-wrap, body.boxed #header.sticky-header .header-main.sticky, #header-boxed #header.sticky-header .header-main.sticky, body.boxed #header.sticky-header .main-menu-wrap, #header-boxed #header.sticky-header .main-menu-wrap {
        max-width:1350px
    }

    .col-xl-1-5 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width:20%
    }

    .col-xl-2-5 {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width:40%
    }

    .col-xl-3-5 {
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width:60%
    }

    .col-xl-4-5 {
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width:80%
    }
}

#header .separator {
    border-left:1px solid rgba(255, 255, 255, .09)
}

#header .header-top .separator {
    border-left-color:rgba(0, 0, 0, .04)
}

#header .header-top .share-links > a:not(:hover) {
    background:none
}

#mini-cart .cart-popup {
    color:#2c317a
}

.fixed-header #header .header-main {
    background-color:rgba(255, 255, 255, 0.8)
}

.fixed-header #header .header-top {
    background-color:rgba(244, 80, 80, 0.8)
}

@media (min-width: 992px) {
    .header-wrapper.header-side-nav.fixed-header #header {
        background-color:rgba(255, 255, 255, 0.8)
    }
}

#header.sticky-header .header-main, .fixed-header #header.sticky-header .header-main {
    background-color:rgba(255, 255, 255, 1)
}

#header.sticky-header .main-menu-wrap, .fixed-header #header.sticky-header .main-menu-wrap {
    background-color:rgba(255, 255, 255, 1)
}

.fixed-header #header .searchform {
    background-color: rgba(255, 255, 255, 0.5);
    border-color:rgba(238, 238, 238, 0.5)
}

@media (max-width: 991px) {
    .fixed-header #header .searchform {
        background-color:rgba(255, 255, 255, 1)
    }
}

.fixed-header #header .searchform-popup .searchform {
    background-color:rgba(255, 255, 255, 1)
}

.fixed-header #header .main-menu-wrap {
    box-shadow:none
}

.fixed-header #header .main-menu {
    box-shadow:none
}

#header .searchform, .fixed-header #header.sticky-header .searchform {
    background: rgba(255, 255, 255, .95);
    border-color:#eeeeee
}

.fixed-header #header.sticky-header .searchform {
    border-radius:0
}

#header, #header .header-main .header-contact .nav-top > li > a, #header .top-links > li.menu-item:before {
    color:#ffffff
}

#header .header-main .header-contact a, #header .tooltip-icon, #header .top-links > li.menu-item > a, #header .searchform-popup .search-toggle, #header .custom-html a:not(.btn), #header .my-account, #header .my-wishlist {
    color:#ef7861
}

#header .tooltip-icon {
    border-color:#ef7861
}

#header .header-main .header-contact a:hover, #header .top-links > li.menu-item:hover > a, #header .top-links > li.menu-item > a.active, #header .top-links > li.menu-item > a.focus, #header .top-links > li.menu-item.has-sub:hover > a, #header .searchform-popup .search-toggle:hover, #header .custom-html a:not(.btn):hover, #header .my-account, #header .my-wishlist {
    color:#e55d42
}

#header .header-top, .header-top .top-links > li.menu-item:after {
    color:#777777
}

#header .header-top .header-contact a, #header .header-top .custom-html a, #header .header-top .top-links > li.menu-item > a, .header-top .welcome-msg a {
    color:#0088cc
}

#header .header-top .header-contact a:hover, #header .header-top .custom-html a:hover, #header .header-top .top-links > li.menu-item.active > a, #header .header-top .top-links > li.menu-item:hover > a, #header .header-top .top-links > li.menu-item > a.active, #header .header-top .top-links > li.menu-item.has-sub:hover > a, .header-top .welcome-msg a:hover {
    color:#0099e6
}

#header .header-main .top-links > li.menu-item.has-sub:hover > a, #header .header-bottom .top-links > li.menu-item.has-sub:hover > a {
    background-color:transparent
}

#header .top-links .narrow ul.sub-menu, #header .main-menu .wide .popup > .inner, .side-nav-wrap .sidebar-menu .wide .popup > .inner, .sidebar-menu .narrow ul.sub-menu {
    background-color:#3a41a3
}

.sidebar-menu .menu-custom-block a:hover, .sidebar-menu .menu-custom-block a:hover + a {
    border-top-color:#3a41a3
}

#header .top-links .narrow li.menu-item > a, #header .main-menu .wide li.sub li.menu-item > a, .side-nav-wrap .sidebar-menu .wide li.menu-item li.menu-item > a, .sidebar-menu .wide li.sub li.menu-item > a, .sidebar-menu .narrow li.menu-item > a, .porto-popup-menu .sub-menu a {
    color:#ffffff
}

#header .top-links .narrow li.menu-item:hover > a, .porto-popup-menu .sub-menu a:hover {
    color:#ef7861
}

#header .top-links .narrow li.menu-item:hover > a, #header .sidebar-menu .narrow .menu-item:hover > a, .main-sidebar-menu .sidebar-menu .narrow .menu-item:hover > a, .main-menu .wide li.menu-item li.menu-item > a:hover {
    background-color:transparent
}

.side-nav-wrap .sidebar-menu .wide li.menu-item li.menu-item > a:hover {
    background-color: transparent;
    color:#ef7861
}

@media (min-width: 768px) {
    #header-boxed {
        max-width:750px
    }
}

@media (min-width: 992px) {
    #header-boxed {
        max-width:990px
    }
}

@media (min-width: 1350px) {
    #header-boxed {
        max-width:1350px
    }
}

#header .header-top .top-links > li.menu-item > a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right:5px
}

#header .header-top .top-links .narrow li.menu-item:hover > a {
    text-decoration:none
}

#header .top-links > li.menu-item:after {
    content:none
}

#header .header-top .gap {
    visibility:hidden
}

.header-top {
    border-bottom: 1px solid #ededed;
    background-color:#f45050
}

.main-menu-wrap {
    background-color: transparent;
    padding:0 0 15px 0
}

#header.sticky-header .main-menu-wrap, #header.sticky-header .header-main.sticky .header-left, #header.sticky-header .header-main.sticky .header-right {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right:0
}

#header.sticky-header .header-main.sticky .header-center {
    padding-top: 8px;
    padding-bottom:8px
}

.main-menu-wrap .main-menu .wide .popup, .main-menu-wrap .main-menu .wide .popup > .inner, .main-menu-wrap .main-menu .wide.pos-left .popup, .main-menu-wrap .main-menu .wide.pos-right .popup, .main-menu-wrap .main-menu .wide.pos-left .popup > .inner, .main-menu-wrap .main-menu .wide.pos-right .popup > .inner, .main-menu-wrap .main-menu .narrow .popup > .inner > ul.sub-menu, .main-menu-wrap .main-menu .narrow.pos-left .popup > .inner > ul.sub-menu, .main-menu-wrap .main-menu .narrow.pos-right .popup > .inner > ul.sub-menu {
    border-radius:0 0 2px 2px
}

.main-menu-wrap .main-menu > li.menu-item > a .tip {
    right: 16px;
    top:-5px
}

#header .main-menu-wrap .main-menu .menu-custom-block a, #header .main-menu-wrap .main-menu .menu-custom-block span {
    padding:10px 16px 10px 16px
}

@media (max-width: 1349px) {
    .main-menu-wrap .main-menu > li.menu-item > a .tip {
        right: 14px;
        top:-6px
    }

    #header .main-menu-wrap .main-menu .menu-custom-block a, #header .main-menu-wrap .main-menu .menu-custom-block span {
        padding:9px 14px 9px 14px
    }
}

#header .main-menu-wrap .main-menu .menu-custom-block .tip {
    right: 16px;
    top:-5px
}

#header .main-menu > li.menu-item > a {
    font-family: Basier-circle-regular-webfont, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    color: #2c317a;
    padding:10px 16px 10px 16px
}

#header .main-menu > li.menu-item.active > a {
    background-color: transparent;
    color:#ef7861
}

#header .main-menu > li.menu-item.active:hover > a, #header .main-menu > li.menu-item:hover > a {
    background-color: transparent;
    color:#ef7861
}

#header .main-menu .popup a, .side-nav-wrap .sidebar-menu .popup, .main-sidebar-menu .sidebar-menu .popup, .porto-popup-menu .sub-menu {
    font-family: Basier-circle-regular-webfont;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing:-0.5px
}

#header .main-menu .wide .popup, #header .sidebar-menu .wide .popup {
    border-width:0
}

#header .main-menu .wide .popup > .inner {
    border-radius:2px
}

#header .main-menu .wide.pos-left .popup > .inner {
    border-radius:0 2px 2px 2px
}

#header .main-menu .wide.pos-right .popup > .inner {
    border-radius:2px 0 2px 2px
}

#header .main-menu .wide li.sub > a, .side-nav-wrap .sidebar-menu .wide li.sub > a {
    color:#ffffff
}

#header .main-menu .narrow ul.sub-menu {
    background-color:#3a41a3
}

#header .main-menu .narrow li.menu-item > a {
    color: #ffffff;
    border-bottom-color:#4149b6
}

#header .main-menu .narrow li.menu-item:hover > a {
    color: #ef7861;
    background-color:transparent
}

#header .menu-custom-block, #header .menu-custom-block span {
    color:#2c317a
}

#header .menu-custom-block span, #header .menu-custom-block a {
    font-family: Basier-circle-regular-webfont;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing:0
}

#header .menu-custom-block a {
    text-transform: uppercase;
    color:#2c317a
}

#header .menu-custom-block a:hover {
    color:#ef7861
}

#header .porto-view-switcher > li.menu-item:before, #header .porto-view-switcher > li.menu-item > a {
    color:#777777
}

#header .porto-view-switcher > li.menu-item > a {
    background-color:transparent
}

#header .porto-view-switcher .narrow ul.sub-menu {
    background:#ededed
}

#header .porto-view-switcher .narrow li.menu-item > a {
    color:#777777
}

#header .porto-view-switcher .narrow li.menu-item > a.active, #header .porto-view-switcher .narrow li.menu-item:hover > a {
    color: #777777;
    background:#e1e1e1
}

#header .searchform input, #header .searchform select, #header .searchform button, #header .searchform .selectric .label, #header .searchform .selectric-items li, #header .searchform .selectric-items li:hover, #header .searchform .selectric-items li.selected, #header .searchform .autocomplete-suggestion .yith_wcas_result_content .title {
    color:#555555
}

#header .searchform input:-ms-input-placeholder {
    color:#555555
}

#header .searchform input::-ms-input-placeholder {
    color:#555555
}

#header .searchform input::placeholder {
    color:#555555
}

#header .searchform input, #header .searchform select, #header .searchform .selectric, #header .searchform .selectric-hover .selectric, #header .searchform .selectric-open .selectric, #header .searchform .autocomplete-suggestions, #header .searchform .selectric-items {
    border-color:#eeeeee
}

#header .searchform button {
    color:#333333
}

#header .searchform select option, #header .searchform .autocomplete-suggestion, #header .searchform .autocomplete-suggestions, #header .searchform .selectric-items {
    color: #555555;
    background-color:#ffffff
}

#header .searchform .selectric-items li:hover, #header .searchform .selectric-items li.selected {
    background-color:#e6e6e6
}

#header .searchform .autocomplete-suggestion:hover {
    background-color:#f8f8f8
}

#header .searchform-popup .search-toggle:after {
    border-bottom-color:#cccccc
}

#header .search-popup .searchform {
    border-color:#cccccc
}

@media (max-width: 991px) {
    #header .searchform {
        border-color:#cccccc
    }
}

#header.sticky-header .searchform-popup .search-toggle {
    color:#777777
}

#header.sticky-header .searchform-popup .search-toggle:hover {
    color:#0088cc
}

#header .mobile-toggle {
    color: #2c317a;
    background-color: transparent;
    font-size:20px
}

#header .mobile-toggle:first-child {
    padding-left:1px
}

@media (max-width: 1349px) {
    #header .main-menu-wrap .main-menu .menu-custom-block .tip {
        right: 14px;
        top:-6px
    }

    #header .main-menu > li.menu-item > a {
        padding:9px 14px 9px 14px
    }

    #header .main-menu > li.menu-item > a {
        font-size: 17px;
        letter-spacing: 0;
        line-height:18px
    }
}

#header.sticky-header .searchform-popup {
    display:none !important
}

#header.sticky-header #mini-cart {
    display:none !important
}

#mini-cart .cart-popup {
    border:1px solid transparent
}

#mini-cart .cart-popup:after {
    border-bottom-color:transparent
}

.sticky-header #mini-cart .cart-popup {
    border:1px solid transparent
}

.sticky-header #mini-cart .cart-popup:after {
    border-bottom-color:transparent
}

#mini-cart {
    background: transparent;
    border-radius:4px
}

.sticky-header #mini-cart {
    background: transparent;
    border-radius:4px
}

#mini-cart .cart-subtotal, #mini-cart .minicart-icon {
    color:#444444
}

#mini-cart .cart-items, #mini-cart .cart-items-text {
    color:#ffffff
}

.sticky-header #mini-cart .cart-subtotal, .sticky-header #mini-cart .minicart-icon, .sticky-header #mini-cart.minicart-arrow-alt .cart-head:after {
    color:#444444
}

.sticky-header #mini-cart .cart-items, .sticky-header #mini-cart .cart-items-text {
    color:#ffffff
}

#nav-panel .mobile-nav-wrap {
    background-color:transparent
}

#nav-panel .menu-custom-block a:hover {
    background-color:transparent
}

#nav-panel, #nav-panel .welcome-msg, #nav-panel .accordion-menu, #nav-panel .menu-custom-block, #nav-panel .menu-custom-block span {
    color:#2c317a
}

#nav-panel .accordion-menu li {
    border-bottom-color:transparent
}

#nav-panel .accordion-menu .sub-menu li:not(.active):hover > a {
    background:transparent
}

#nav-panel .accordion-menu li.menu-item > a, #nav-panel .accordion-menu .arrow, #nav-panel .menu-custom-block a {
    color:#2c317a
}

#nav-panel .accordion-menu > li.menu-item > a, #nav-panel .accordion-menu > li.menu-item > .arrow {
    color:#2c317a
}

#nav-panel .accordion-menu li.menu-item.active > a {
    background-color:#2c317a
}

#nav-panel .mobile-nav-wrap::-webkit-scrollbar-thumb {
    background:rgba(204, 204, 204, 0.5)
}

#nav-panel .accordion-menu li.menu-item:hover > a, #nav-panel .accordion-menu .arrow:hover, #nav-panel .menu-custom-block a:hover {
    color:#ef7861
}

.fixed-header #nav-panel .mobile-nav-wrap {
    padding:15px !important
}

.single-portfolio .related-portfolios {
    background-color:#f7f7f7
}

.footer-wrapper.fixed #footer .footer-bottom {
    box-shadow:none
}

#footer .footer-bottom, #footer .footer-bottom p, #footer .footer-bottom .widget > div > ul li, #footer .footer-bottom .widget > ul li {
    color:#2c317a
}

body, ul.list.icons li a, .pricing-table li, .pricing-table h3 .desc, .pricing-table .price, .pricing-table .plan, .home-intro .get-started a:not(.btn), .color-body, .color-body a, .color-body a:hover, .color-body a:focus, .mobile-sidebar .sidebar-toggle, .page-top .product-nav .product-popup, .thumb-info-bottom-info .thumb-info-title, .thumb-info-bottom-info .thumb-info-title a, .thumb-info-bottom-info .thumb-info-title a:hover, .tabs.tabs-simple .nav-tabs > li .nav-link, .tabs.tabs-simple .nav-tabs > li .nav-link:hover, .tabs.tabs-simple .nav-tabs > li .nav-link:focus, .tabs.tabs-simple .nav-tabs > li.active .nav-link, .tabs.tabs-simple .nav-tabs > li.active .nav-link:hover, .tabs.tabs-simple .nav-tabs > li.active .nav-link:focus, .porto-links-block li.porto-links-item > a, .porto-links-block li.porto-links-item > span, .vc_general.vc_cta3.vc_cta3-color-white.vc_cta3-style-flat, .mega-menu .wide .popup, .mega-menu .wide li.menu-item li.menu-item > a, .sidebar-menu .popup, .testimonial.testimonial-style-2 blockquote, .testimonial.testimonial-style-3 blockquote, .testimonial.testimonial-style-4 blockquote, .testimonial.testimonial-style-5 blockquote, .testimonial.testimonial-style-6 blockquote, .testimonial.testimonial-with-quotes blockquote, .sort-source-style-3 > li > a {
    color:#2c317a
}

.widget_recent_entries > ul li, .widget_recent_comments > ul li, .widget_pages > ul li, .widget_meta > ul li, .widget_nav_menu > div > ul li, .widget_archive > ul li, .widget_categories > ul li, .widget_rss > ul li, .widget_recent_entries > ul li > a, .widget_recent_comments > ul li > a, .widget_pages > ul li > a, .widget_meta > ul li > a, .widget_nav_menu > div > ul li > a, .widget_archive > ul li > a, .widget_categories > ul li > a, .widget_rss > ul li > a {
    color:#232761
}

.widget .rss-date, .widget .post-date, .widget .comment-author-link {
    color: #363c94
}

.alternative-font, a, .color-primary, article.post .post-title, ul.list.icons li i, ul.list.icons li a:hover, .list.list-icons li i, .list.list-ordened li:before, ul[class^="wsp-"] li:before, .fontawesome-icon-list > div:hover, .sample-icon-list > div:hover, .fontawesome-icon-list > div:hover .text-muted, .sample-icon-list > div:hover .text-muted, .accordion .card-header a, .accordion .card-header a i, section.toggle label, .porto-concept strong, .fc-slideshow nav .fc-left i, .fc-slideshow nav .fc-right i, .circular-bar.only-icon .fas, .circular-bar.only-icon .fab, .circular-bar.only-icon .far, .home-intro p em, .home-intro.light p, .featured-box .porto-sicon-header h3.porto-sicon-title, .featured-box .wpb_heading, .feature-box[class * ="feature-box-style-"] .feature-box-icon i, .mobile-sidebar .sidebar-toggle:hover, .page-top .sort-source > li.active > a, .owl-carousel.nav-style-1 .owl-nav [class * ="owl-"], .master-slider .ms-container .ms-nav-prev, .master-slider .ms-container .ms-nav-next, .master-slider .ms-container .ms-slide-vpbtn, .master-slider .ms-container .ms-video-btn, .resp-tabs-list li, h2.resp-accordion, .tabs ul.nav-tabs a, .tabs ul.nav-tabs a:hover, .tabs ul.nav-tabs li.active a, .tabs ul.nav-tabs li.active a:hover, .tabs ul.nav-tabs li.active a:focus, .wpb_wrapper .porto-sicon-read, .vc_custom_heading em, .widget .widget-title a:hover, .widget .widgettitle a:hover, .widget li > a:hover, .widget li.active > a, .widget_wysija_cont .showerrors, .sidebar-menu > li.menu-item.active > a, article.post .post-date .day, .post-item .post-date .day, section.timeline .timeline-date h3, .post-carousel .post-item.style-5 .cat-names, .post-grid .post-item.style-5 .cat-names, .post-timeline .post-item.style-5 .cat-names, .post-carousel .post-item.style-5 .post-meta .post-views-icon.dashicons, .post-grid .post-item.style-5 .post-meta .post-views-icon.dashicons, .post-timeline .post-item.style-5 .post-meta .post-views-icon.dashicons, .portfolio-info ul li a:hover, article.member .member-role, .tm-extra-product-options .tm-epo-field-label, .tm-extra-product-options-totals .amount.final, html #topcontrol:hover, .single-post .entry-title, .sort-source-style-3 > li.active > a, ul.portfolio-details h5, .page-not-found h4, article.post .sticky-post, .owl-carousel.dots-style-1 .owl-dot.active span, .owl-carousel.dots-style-1 .owl-dot:hover span, .label-pre-order {
    color:#2c317a
}

a:hover, .wpb_wrapper .porto-sicon-read:hover {
    color:#33398d
}

a:active, a:focus {
    color:#262a68
}

.slick-slider .slick-dots li.slick-active i, .slick-slider .slick-dots li:hover i {
    color:#242864 !important
}

.list.list-icons li i, .list.list-ordened li:before, .pricing-table .most-popular, section.toggle.active > label, .timeline-balloon .balloon-time .time-dot:before, .featured-box .icon-featured:after, .feature-box.feature-box-style-3 .feature-box-icon, .owl-carousel.dots-color-primary .owl-dots .owl-dot, .master-slider .ms-slide .ms-slide-loading:before, .widget_sidebar_menu .widget-title .toggle:hover, .pagination span.current, .page-links span.current, .products-slider.owl-carousel .owl-dot:hover span, .products-slider.owl-carousel .owl-dot.active span, .porto-process .process-step-circle {
    border-color:#2c317a
}

.products-slider.owl-carousel .owl-dot span {
    border-color:rgba(17, 19, 48, .4)
}

section.toggle label, .resp-vtabs .resp-tabs-list li:hover, .resp-vtabs .resp-tabs-list li:focus, .resp-vtabs .resp-tabs-list li.resp-tab-active, .sidebar-menu .wide .popup, .wp-block-pullquote blockquote {
    border-left-color:#2c317a
}

.tabs.tabs-vertical.tabs-left ul.nav-tabs li .nav-link:hover, .tabs.tabs-vertical.tabs-left ul.nav-tabs li.active .nav-link, .tabs.tabs-vertical.tabs-left ul.nav-tabs li.active .nav-link:hover, .tabs.tabs-vertical.tabs-left ul.nav-tabs li.active .nav-link:focus {
    border-left-color:#2c317a
}

.thumb-info-ribbon:before, .right-sidebar .sidebar-menu .wide .popup {
    border-right-color:#181b42
}

.tabs.tabs-vertical.tabs-right ul.nav-tabs li .nav-link:hover, .tabs.tabs-vertical.tabs-right ul.nav-tabs li.active .nav-link, .tabs.tabs-vertical.tabs-right ul.nav-tabs li.active .nav-link:hover, .tabs.tabs-vertical.tabs-right ul.nav-tabs li.active .nav-link:focus {
    border-right-color:#2c317a
}

.porto-history .featured-box .box-content, body.boxed .page-wrapper, .master-slider .ms-loading-container .ms-loading:before, .master-slider .ms-slide .ms-slide-loading:before, #fancybox-loading:before, #fancybox-loading:after, .slick-slider .slick-loading .slick-list:before, .fullscreen-carousel > .owl-carousel:before, .fullscreen-carousel > .owl-carousel:after, .porto-loading-icon, .resp-tabs-list li:hover, .resp-tabs-list li:focus, .resp-tabs-list li.resp-tab-active, .tabs ul.nav-tabs a:hover, .tabs ul.nav-tabs a:focus, .tabs ul.nav-tabs li.active a, .tabs ul.nav-tabs li.active a:hover, .tabs ul.nav-tabs li.active a:focus, .tabs ul.nav-tabs.nav-justified .nav-link:hover, .tabs ul.nav-tabs.nav-justified .nav-link:focus, .sidebar-content .widget.widget_wysija .box-content, .mega-menu .wide .popup, .sidebar-menu > li.menu-item:hover > a, .sort-source-style-2 > li.active > a:after {
    border-top-color:#2c317a
}

.testimonial .testimonial-arrow-down {
    border-top-color:#33398d
}

.page-top .product-nav .product-popup:before, .tabs.tabs-bottom ul.nav-tabs li .nav-link:hover, .tabs.tabs-bottom ul.nav-tabs li.active a, .tabs.tabs-bottom ul.nav-tabs li.active a:hover, .tabs.tabs-bottom ul.nav-tabs li.active a:focus, .tabs.tabs-simple .nav-tabs > li .nav-link:hover, .tabs.tabs-simple .nav-tabs > li .nav-link:focus, .tabs.tabs-simple .nav-tabs > li.active .nav-link, .sort-source-style-3 > li.active > a {
    border-bottom-color:#2c317a
}

article.post .post-date .month, article.post .post-date .format, .post-item .post-date .month, .post-item .post-date .format, .list.list-icons.list-icons-style-3 li i, .list.list-ordened.list-ordened-style-3 li:before, html .list-primary.list-ordened.list-ordened-style-3 li:before, html .list-secondary.list-ordened.list-ordened-style-3 li:before, html .list-tertiary.list-ordened.list-ordened-style-3 li:before, html .list-quaternary.list-ordened.list-ordened-style-3 li:before, html .list-dark.list-ordened.list-ordened-style-3 li:before, html .list-light.list-ordened.list-ordened-style-3 li:before, ul.nav-pills > li.active > a, ul.nav-pills > li.active > a:hover, ul.nav-pills > li.active > a:focus, section.toggle.active > label, .toggle-simple section.toggle > label:after, div.wpb_single_image .porto-vc-zoom .zoom-icon, .img-thumbnail .zoom, .thumb-info .zoom, .img-thumbnail .link, .thumb-info .link, .pricing-table .most-popular h3, .pricing-table-flat .plan h3, .pricing-table-flat .plan-price, .pricing-table-classic .most-popular h3 strong, .timeline-balloon .balloon-time .time-dot:after, section.exp-timeline .timeline-box.right:after, .floating-menu .floating-menu-btn-collapse-nav, .icon-featured, .featured-box .icon-featured, .featured-box-effect-3:hover .icon-featured, .feature-box .feature-box-icon, .inverted, .master-slider .ms-container .ms-bullet, .share-links a, .thumb-info .thumb-info-type, .thumb-info .thumb-info-action-icon, .thumb-info-ribbon, .thumb-info-social-icons a, .widget_sidebar_menu .widget-title .toggle:hover, .mega-menu > li.menu-item.active > a, .mega-menu > li.menu-item:hover > a, .mega-menu .narrow ul.sub-menu, .sidebar-menu > li.menu-item:hover, .sidebar-menu .menu-custom-block a:hover, .pagination span.current, .page-links span.current, .member-item.member-item-3 .thumb-info:hover .thumb-info-caption, .sort-source-style-2, .mega-menu.menu-hover-line > li.menu-item > a:before, .products-slider .owl-dot:hover span:after, .products-slider .owl-dot.active span:after, .blog-posts-hover_info2 .thumb-info-type a {
    background-color:#2c317a
}

div.wpb_single_image .porto-vc-zoom .zoom-icon:hover, .img-thumbnail .zoom:hover, .thumb-info .zoom:hover, .img-thumbnail .link:hover, .thumb-info .link:hover, .mega-menu .narrow li.menu-item:hover > a, .testimonial blockquote {
    background-color:#33398d
}

.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
    background-color:#242864
}

.featured-box-effect-2 .icon-featured:after {
    box-shadow:0 0 0 3px #2c317a
}

.featured-box-effect-3 .icon-featured:after {
    box-shadow:0 0 0 10px #2c317a
}

section.toggle.active > label, .pricing-table .most-popular h3, .pricing-table .most-popular h3 .desc, .pricing-table-flat .plan h3, .pricing-table-flat .plan h3 .desc, .pricing-table-flat .price, ul.nav-pills > li.active > a, ul.nav-pills > li.active > a:hover, ul.nav-pills > li.active > a:focus, .tparrows.tparrows-carousel.tp-leftarrow:before, .tparrows.tparrows-carousel.tp-rightarrow:before, .thumb-info .thumb-info-action-icon i, .thumb-info-ribbon, .thumb-info-social-icons a i, .portfolio-item .thumb-info .thumb-info-type .portfolio-like i, .portfolio-item .thumb-info .thumb-info-type .portfolio-liked i, .member-item.member-item-3 .thumb-info:hover .thumb-info-caption, .member-item.member-item-3 .thumb-info:hover .thumb-info-caption * {
    color:#ffffff
}

.member-item.member-item-3 .thumb-info:hover .thumb-info-social-icons {
    border-color:#ffffff
}

.member-item.member-item-3 .thumb-info:hover .share-links a {
    background-color: #ffffff;
    color:#2c317a
}

@media (min-width: 992px) {
    .floating-menu .floating-menu-nav-main nav > ul > li > a:after {
        background-color:#2c317a
    }
}
/* typo */
h1 .vc_custom_heading .align-left {
font-family: Basier-circle-bold-webfont, sans-serif;
font-weight: 400;
font-size: 40px !important;
line-height: 60px;
letter-spacing: .5px;
color: #6fc8bb;
}

html .porto-sicon-header h3.porto-sicon-title {
letter-spacing: 0.8px;
}

h2 {
text-transform:uppercase;
border-bottom:1px solid #3A41A3;
padding-bottom:20px;
}

h4 {
font-size:17px;
}

h6 {
letter-spacing:0.7px;
}

p b, p strong {
font-family: Basier-circle-bold-webfont, sans-serif;
}

p i, p em {
font-family: Basier-circle-regular-italic-webfont, sans-serif;
}
/*p {font-size:15px;}*/


/* ICONS LISTS */
.list.list-icons {
padding-left: 30px;
}

.list.list-icons.list-icons-sm li i {
font-size: 15px;
top: 7px;
left: -6px;
}

/* Call-to-action*/
.vc_general.vc_cta3 h2 {
border: none;
}
/* topnav */

#header .header-top {
background-color:#2C317A;
}

#header .header-top .top-links > li.menu-item:after {
content:"•";
padding-left:5px;
color:#ffffff !important;
}

#header .header-top .top-links > li.menu-item:last-child:after {
color:#2C317A !important;
margin-right:-20px;
}

#header .header-top .top-links > li.menu-item > a {
color:#ffffff !important;
font-size:1em !important;
padding: 10px 5px 11px;
}

#header .header-top .top-links > li.menu-item > a:hover {
color:#EF7861 !important;
}

#header.sticky-header .header-main.change-logo .logo img {
transform: scale(1.6);
}
/* main nav */

#header .header-main .header-left {
padding: 20px 0;
}

#header .menu-item-has-children > a:after {
content:" ";
width:5px;
padding:0 8px 0 8px;
color:#EF7861 !important;
background: url('https://bk.theisn.org/wp-content/uploads/2020/07/dropdown.png') no-repeat right 8px;
}

#header .search-toggle .fa, #header .search-toggle .fas {
color:#2C317A !important;
}
/* sub-menu */

#header .main-menu .narrow ul.sub-menu {
border-radius:4px !important;
box-shadow:4 8 10 rgba(0, 0, 0, .2);
}

#header .main-menu .narrow ul.sub-menu:before {
content:"\A";
border-style: solid;
border-width: 0 5px 5px 5px;
border-color: transparent transparent #3A41A3 transparent;
position: absolute;
top: -5px;
left:48%;
}

.mega-menu .wide .popup > .inner > ul.sub-menu:before {
content:"\A";
border-style: solid;
border-width: 0 5px 5px 5px;
border-color: transparent transparent #3A41A3 transparent;
position: absolute;
top: -5px;
left:48%;
}

#header .main-menu .narrow li.menu-item > a {
font-size:13px;
line-height:18px;
}

/* Top nav with submenus */
#header .main-menu .wide li.sub > a, .side-nav-wrap .sidebar-menu .wide li.sub > a {
border-bottom: 1px solid white;
margin-bottom:8px;
}

#header .main-menu .wide li.sub li.menu-item > a {
padding: 4px 10px 2px 20px;
}

#header .main-menu .popup a
{
line-height: 18px;
}

/* big sub menu */
@media only screen and (max-width: 1024px) {
.accordion-menu .big-sub-menu ul.sub-menu {
    display: block;
    margin-left: 0px !important;
}

.big-sub-menu .arrow {
    display: none;
}

#header .menu-item-has-children > a:after {
    display: none;
}

.accordion-menu {
    border-bottom: 1px dotted #2c317a;
    margin-bottom: 10px;
}

.img-menu {
    display: none;
}
}

@media only screen and (min-width: 1024px) {
.big-sub-menu ul li a {
    font-weight: 600 !important;
    font-family: Basier-circle-regular-webfont;
    font-size: 12.8px;
    color: #ffffff !important;
    margin-bottom: 8px !important;
    margin-left: -20px !important;
    text-transform: uppercase;
    margin-left: 5px !important;
    margin-top: 5px !important;
    border-radius: 0px !important;
    border-bottom: 1px #4149b6 solid;
    padding-left: 0px !important;
}
}
/* left-menu*/

.left-menu-space-top {
margin-top: 10px !important;
border-top: 3px solid #eaeaea;
background: none !important;
}

.left-menu-icon
{
margin-left: -15px;
}

/* page title */
.page-top {
margin-bottom:50px;
padding:0;
}

.page-top {
background-color: #596675 !important;
background-blend-mode: overlay !important;
}

.page-title-wrap {
padding:150px 0;
}

.page-top .page-title {
font-size:60px;
line-height:60px;
letter-spacing:1px;
}

.page-top .page-title {
font-size:60px;
line-height:60px;
letter-spacing:1px;
padding-left:30px;
}

.page-top .page-sub-title {
padding-left: 30px;
}

.page-top .page-title-wrap {
background-image: none;
background-repeat: no-repeat;
background-position: -50px -110px;
background-size:60%;
}

.page-top > .container {
padding:0;
}

.page-title-wrap {
padding: 170px 0;
}

@media only screen and (max-width: 1024px) {
.page-top .page-title-wrap {
    background-position: -30px -110px;
    background-size: 80%;
}
}

@media only screen and (max-width: 768px) {
.page-top .page-title-wrap {
    background-size: 70%;
    background-position: -40px -30px;
}
}

@media only screen and (max-width: 600px) {
.page-top .page-title-wrap {
    background-position: -25px -30px;
    background-size: 80% !important;
}
}

@media only screen and (max-width: 480px) {
.page-top .page-title-wrap {
    background-position: -50px 0px;
    background-size: 110% !important;
}
}

/* main */
@media only screen and (min-width: 768px) {
#main:before {
    width: 414px;
    height: 684px;
    content: " ";
  /* background: transparent url(https://bk.theisn.org//wp-content/uploads/2020/07/kidney-green.png) no-repeat left top;*/
    background-size: cover;
    display: block;
    position: fixed;
    right: -150px;
    top: 500px;
    z-index: -1;
}

#main:after {
    width: 500px;
    height: 738px;
    content: " ";
    /*background: transparent url(https://bk.theisn.org//wp-content/uploads/2020/07/kidney-yellow.png) no-repeat left top;*/
    background-size: cover;
    display: block;
    position: fixed;
    left: -200px;
    top: 150px;
    z-index: -1;
}

#main {
    background-color: transparent;
    overflow: hidden;
}
}

@media only screen and (max-width: 1349px)
{
#header .main-menu > li.menu-item > a {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 10px;
}
}

/*sidebar */
.widget_sidebar_menu {
background-color:#3A41A3;
border-radius:4px;
-webkit-box-shadow: 4px 8px 10px 0px rgba(14, 18, 65, 0.2);
-moz-box-shadow: 4px 8px 10px 0px rgba(14, 18, 65, 0.2);
box-shadow: 4px 8px 10px 0px rgba(14, 18, 65, 0.2);
padding-top:5px;
padding-bottom:5px;
}

.main-sidebar-menu .sidebar-menu > li.menu-item {
background:url(https://bk.theisn.org//wp-content/uploads/2020/07/arrow-right.png) no-repeat 20px center;
}

.main-sidebar-menu .sidebar-menu > li.menu-item > a {
color:#ffffff;
text-transform:none;
font-family: Basier-circle-bold-webfont, sans-serif;
letter-spacing:1px;
font-size:15px;
border:none;
padding-left:25px;
}

.main-sidebar-menu .sidebar-menu > li.menu-item:hover {
background-color:transparent !important;
color:#EF7861;
}

.main-sidebar-menu .sidebar-menu > li.menu-item > a:hover {
background-color:none;
color:#EF7861;
}

.main-sidebar-menu .sidebar-menu > li.menu-item.active a {
color: #EF7861;
}

/* SiDEBAR NEW MENU*/
.menu-60th-anniversary-container, .menu-toolkit-container
{
background:#3a41a3;
border-radius:2px;
}

.porto-porto-custom-sidebar-60thanniversary .widget > div > ul li, .porto-porto-custom-sidebar-toolkit .widget > div > ul li {
color:#ef7861;
border-bottom:1px white solid;
}

.porto-porto-custom-sidebar-60thanniversary .widget > div > ul li:last-child, .porto-porto-custom-sidebar-toolkit .widget > div > ul li:last-child {
border-bottom:none;
}

.porto-porto-custom-sidebar-60thanniversary .widget > div > ul li:before, .porto-porto-custom-sidebar-toolkit .widget > div > ul li:before {
padding-left:5px;
}

.porto-porto-custom-sidebar-60thanniversary .widget_nav_menu > div > ul li > a, .porto-porto-custom-sidebar-toolkit .widget_nav_menu > div > ul li > a {
color:white;
}

/* accordion */
.accordion-isn .vc_tta-panel-heading {
background-color:#3A41A3 !important;
border-radius:50px !important;
}

.accordion-isn .vc_tta-panel-heading .vc_tta-panel-title a {
color:#ffffff !important;
text-transform:uppercase;
letter-spacing:1px;
}

.accordion-isn .vc_tta-controls-icon-plus {
background-color:#FFFFFF;
border:8px solid #FFFFFF;
height: 24px !important;
width: 24px !important;
border-radius:16px;
right:14px;
}

.accordion-isn .vc_tta-controls-icon-plus::before, .accordion-isn .vc_tta-controls-icon-plus::after {
border-color:#EF7861 !important;
}
/* blue box */

.box-blue-isn {
padding:0;
background-size:cover;
color:white;
margin-bottom:40px;
}

.box-blue-isn:first-child
{
border-left:none !important;
}

.box-blue-isn > .wpb_wrapper {
background-color:rgba(44, 49, 122, 0.8);
transition: background 0.2s;
padding: 85px 30px 60px 20px !important;
height:100%;
border-left:1px solid white;
}

.box-blue-isn:hover > .wpb_wrapper {
background-color:rgba(44, 49, 122, 0.95);
}

/* events */
.event-row article {
-webkit-box-shadow: 0px 20px 20px 0px rgba(44, 49, 122, 0.10);
-moz-box-shadow: 0px 20px 20px 0px rgba(44, 49, 122, 0.10);
box-shadow: 0px 20px 20px 0px rgba(44, 49, 122, 0.10);
}

.event-row .thumb-info-wrapper {
border-radius: 0px;
}

.event-row .custom-event-infos ul {
background-color:#6FC8BB;
color:#ffffff;
padding:20px;
margin-left:30px;
font-size:1rem;
font-family: Basier-circle-bold-webfont, sans-serif;
display:inline;
}

.custom-event-infos ul li i {
color:#ffffff;
}

.event-row .thumb-info-caption-text {
margin-top : 20px;
padding-left:30px;
padding-right:30px;
padding-bottom:30px;
}

.event-row .thumb-info-caption-text .post-excerpt {
line-height:1.6;
}

.event-row .thumb-info-caption-text h4 {
font-size:1.6rem;
line-height:1;
}
/* members list */

.member-item .thumb-info-type {
background-color:#6FC8BB;
line-height:1.5;
border-radius:0;
}

.m-b-sm {
padding-top:10px;
font-size:16px;
line-height:22px;
margin-bottom:2px !important;
}

.thumb-info-social-icons:first-child {
padding: 4px 0 30px 0;
font-size:16px;
}

/*hide phone from staff*/
.share-phone {
display:none;
}

/* posts list */
.img-thumbnail img {
border-radius:2px;
}

.post-item-small {
border:none !important;
background-color:#ffffff;
padding:0;
}

.post-item-small .post-date {
color:#6fc8bb !important;
text-transform:uppercase;
font-size: 12px;
}

.post-item-small .post-item-title {
color:#2C317A;
font-size:1.4rem;
line-height:1;
}

article.post {
-webkit-box-shadow: 10px 20px 20px 10px rgba(44, 49, 122, 0.10);
-moz-box-shadow: 10px 20px 20px 10px rgba(44, 49, 122, 0.10);
box-shadow: 10px 20px 20px 10px rgba(44, 49, 122, 0.10);
padding:20px;
background-color:#ffffff;
}

.btn-default.btn {
background: #ff675b;
color:white;
text-transform:none !important;
font-size:14px !important;
border:none;
border-radius:20px;
padding:5px 15px;
}

/* POST-LIST LEFT SIDEBAR */
.left-sidebar
{
background: white;
}

h5.post-item-title a
{
color:#3a41a3;
font-size:14px;
}

h5.post-item-title a:hover
{
color:#ef7861;
}

.widget .rss-date, .widget .post-date, .widget .comment-author-link {
color: #3c3c3b;
font-size: 13px;
}

.post-carousel .post-item-small
{
padding: 10px;
max-width:95%;
}

/* POSTS ON HOMEPAGE */
.posts-container .post-item-small
{
-webkit-box-shadow: 10px 10px 15px 0px rgba(173, 173, 173, 1);
-moz-box-shadow: 10px 10px 15px 0px rgba(173, 173, 173, 1);
box-shadow: 10px 10px 15px 0px rgba(173, 173, 173, 1);
padding:15px 15px 10px 15px;
}

.post-item-small:first-child {
padding-bottom: 5px !important;
}

.blog-posts .post-item-small .post-item-title {
line-height:19px;
}

.post-item-small
{
margin:10px;
max-width:47%;
border-radius:1px !important;
}

.blog-posts-widget {
overflow: visible;
}

.posts-container .post-item-small .post-image img {
width: 80px !important;
}

@media only screen and (max-width: 768px) {
.post-item-small {
    max-width: 100%;
}
}

/* POSTS ON GRANTS PAGE (ISN'S IMPACT)*/
.blog-posts article.post-grid {
border-width: 0;
margin-bottom: 10px;
padding-bottom: 0;
box-shadow: none !important;
}

.blog-posts-padding .grid-box {
border:none;
background: #6fc8bb9e;
border-radius:10px;
}

/*.blog-posts-padding .grid-box .entry-title 
{font-size:20px !important;
font-weight:300;
    border: 0;
color: #fff;
margin: 0;
padding: 2.5rem 4rem 2.5rem 4.5rem;
position: relative;
font-family: Playfair Display,Georgia,serif;
}*/
.blog-posts-padding .grid-box .meta-date, .blog-posts-padding .grid-box .post-meta {
display:none;
}

.blog-posts-padding .grid-box .entry-title a {
color:#ffffff !important;
}

.blog-posts-padding .grid-box .entry-title a:hover {
color:#ef7861 !important;
}

.blog-posts-padding .grid-box .post-excerpt {
color:white;
}

/*.blog-posts-padding .grid-box .post-excerpt:before {left: 20px;
top: 20px;
content: "“";
font-size: 80px;
font-style: normal;
line-height: 1;
position: absolute;font-family: Playfair Display,Georgia,serif;
}*/
.blog-posts-padding .grid-box
.btn-default.btn {
margin-bottom:10px;
}

/* SINGLE POST */
.post-large-alt .owl-carousel .img-thumbnail {
display:none;
}

/* Blog */
.blog-posts .post-full .entry-title, .blog-posts .post-large .entry-title, .blog-posts .post-large-alt .entry-title {
font-size: 20px;
}

.blog-posts .post .entry-title {
font-size: 23px;
text-transform:none;
}

h2.entry-title a {
color:#2c317a;
}

h2.entry-title a:hover {
color:#ef7861;
}

/* Timeline */
section.timeline .timeline-box.right:before {
margin-left: -8px;
}

section.timeline .timeline-box.left:before {
margin-right: -8px;
}

section.timeline .timeline-box.right {
position: relative;
clear: both;
margin-top:0px;
}

section.timeline .timeline-box.left {
margin-top:0px;
}

section.timeline .timeline-box {
margin-bottom: 30px;
}

section.timeline .timeline-item-title {
line-height: 22px;
}


/* buttons */

.btn-primary {
border-radius: 25px !important;
border:none;
font-family: Basier-circle-bold-webfont, sans-serif;
text-transform:none;
font-size:15px;
letter-spacing:0.9px;
background-color:#ef7861 !important;
color:white !important;
}

.btn-primary:hover {
background-color:#C96552 !important;
}

.btn-primary:after {
display: inline-block;
padding-left: 8px;
color:#ffffff;
content: "\0279E";
}
/* forms */

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], .form-control {
border:1px solid #3A41A3;
border-radius:0;
padding:10px 12px;
font-size:18px;
color:#3A41A3;
}

input[type="email"]:placeholder, input[type="number"]:placeholder, input[type="password"]:placeholder, input[type="search"]:placeholder, input[type="tel"]:placeholder, input[type="text"]:placeholder, input[type="url"]:placeholder, .form-control {
color:#9DA0D1;
font-family: Basier-circle-regular-italic-webfont, sans-serif;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, .form-control:focus {
background-color:#DCDFFF;
border:1px solid #3A41A3;
color:#3A41A3;
}

form label, form label.text-dark {
color:#2C317A !important;
text-transform:uppercase;
font-size:15px;
font-family: Basier-circle-bold-webfont, sans-serif;
padding-left:20px;
}
/* Visual composer */

.wpb_wrapper vc_column-inner, .vc-hoverbox-wrapper {
-webkit-box-shadow: 0px 20px 20px 0px rgba(44, 49, 122, 0.1);
-moz-box-shadow: 0px 20px 20px 0px rgba(44, 49, 122, 0.1);
box-shadow: 0px 20px 20px 0px rgba(44, 49, 122, 0.1);
}


progress {
    border: none;
    width: 400px;
    height: 10px;
    background: #f2f2f2;
    border-radius: 16px;
  }
  
  progress {
    color: #FD7500;
    border-radius: 16px;
  }
  
  progress::-moz-progress-bar {
    background: #f2f2f2;
    border-radius: 16px;
  }
  
  progress::-webkit-progress-value {
    background: #FD7500;
    border-radius: 16px;
  }
  
  progress::-webkit-progress-bar {
    background: #f2f2f2;
    border-radius: 16px;
  }

 .robot-calc {

    transform: translatey(0px);
    -webkit-animation: float 2s ease-in-out infinite;
    animation: float 2s ease-in-out infinite;
    position: absolute;
    top: 240px;
    left: 250px;
}

.rinon{
    position: absolute;
    top: 220px;
    right: 150px;
   
}

label.option-label{
    background-color: #fff;
    border: 2px solid #FD7500;
    padding: 12px 24px;
    width: 200px;
    border-radius: 2rem;
}

label.option-label:hover{
   cursor: pointer;
}


label.option-label input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    transition: 0.2s all linear;
    margin-right: 5px;
    margin-left: -20px;
    position: relative;
    top: 4px;
  }

label.question-label{
    width: 200px;
    margin-left: 0;
    text-align: left;
}

#height-metres, #weight-kgs, #age-input{
    border: 3px solid #FD7500;
    border-radius: 50px;
}
  
  /*input:checked {
    border: 3px solid #FD7500;
    background: #FD7500;
    border-radius: 50%;
  }*/

  header .title-calc-renal{
    font-size: 1.8rem!important;

  }

  .question-title{
    color: #033782;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .btn-siguiente{
    background-color: #FD7500!important;
    color:#fff!important;
    width: 200px!important;
    margin: auto;
    margin-top: 2rem;
    font-size: 2rem!important;
  }


  #cero-riesgo{
    background-color: #fff;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  #cero-riesgo .card-descarga{
    background-color: #fff;
    border: 3px solid #FD7500;
    border-radius: 1.5rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin-top: -8rem;
    margin-right: 10px;
    margin-left: 10px;
  }


  #con-riesgo{
    background-color: #fff;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  #con-riesgo .card-descarga{
    background-color: #fff;
    border: 3px solid #FD7500;
    border-radius: 1.5rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin-top: -8rem;
    margin-right: 10px;
    margin-left: 10px;
  }

  /*
  #con-riesgo #my-details-box{
    display: none;
  }*/
  


  .btn-calc-renal{
    color: #FD7500!important;
    font-weight: 600;
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 2rem;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin-top: 3rem;
  }

  .pasos{
    position: absolute;
    top: 190px;
    left: 360px;
  }

  .line{
    height: 3px;
    width: 350px;
    background-color: #FD7500;
    margin-top: 1rem;
  }

  .step-1{
    border: none;
    background: none;
    width: 50px;
  }
  .step-2{
    border: none;
    background: none;
    width: 50px;
  }

  #referencias-resultado{
    margin-top: -3rem!important;
  }






/* mobile */

@media only screen and (max-width: 990px) {
#footer {
    background: none;
}

.footer-main .col-lg-6 {
    background-color: #EF7861;
}

#follow-us-widget-3 {
    margin-top: 0;
}

#contact-info-widget-4 {
    padding-top: 0px;
}


#footer .footer-bottom .footer-right {
    margin-top: -120px;
}

.menu-item-has-children > a:after {
    width: 0;
    padding: 0;
    background: none;
}
}

@media only screen and (max-width: 768px) {
.page-top .page-title
{
    font-size: 40px;
    line-height: 40px;
}

.box-blue-isn:last-child {
    border-bottom: none;
}

.box-blue-isn
{
    margin-bottom: 0;
    border-left: none;
    border-bottom: 1px solid white;
}

#header .header-top .top-links > li.menu-item > a {
    padding-left: 0px;
}

header .title-calc-renal{
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
    
}

header .calculadora-renal-icon{
    margin-top: 2rem;
}

.robot-calc, .rinon{
    display: none;
}

progress{
    width: revert;
}

#referencias p{
    word-wrap: break-word;
}

#cero-riesgo, #con-riesgo{
    width: 90%;
    margin: 10px 20px!important;
}


}

.img-menu a {
height: 100%;
color: rgba(45, 45, 45, 0.1);
}

#header .header-top .top-links > .no-caps a {
text-transform: initial;
}

.wpb_heading {
line-height:1.2;
}

.feedback-button {
padding:10px !important;
}

.feedback-button a {
color:white !important;
}
    

.bs-example{
    margin: 20px;
}
.accordion .fa{
    margin-right: 0.5rem;
}